<!DOCTYPE html>
<html lang="en">


<head>
	<title>Dillon Stock</title>
	<meta charset="utf-8" />
	{% load staticfiles %}

	<link rel="stylesheet" href="{% static 'css/header.css' %}" />
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>


<header>
		<div class="dropdown">
				<button class="dropbtn">Site Content</button>
				<div class="dropdown-content">
							<ul class="nav nav-pills nav-stacked">
							<li><a href='/'>Home</a></li>
							<li><a href='/personal/'>Personal</a></li>
							<li><a href='/personal/contact/'>Contact</a></li>
							<li><a href='/object_detection/'>Object Detection</a></li>
							<li><a href="/photo_gallery/">Photo Gallery</a></li>
							</ul>					
				</div>				
			</div>
</header>


{% block content %}
{% endblock %}

<footer>
		<div class="container-fluid nav">
				<a href="/personal/contact/" target="blank">Contact</a> | 
				<a href="https://www.linkedin.com/in/dillon-stock-933b44160/" target="blank">LinkedIn</a> | 
				<a href="/personal/downloads/">Downloads</a> |
				<a href="https://github.com/stockdillon/" target="blank">GitHub</a> |
				<a href="https://www.cse.msu.edu/~cse498/2018-01/projects/amazon/" target="blank">MSU Capstone</a>
		</div>
</footer>

</html>