{% extends "mysite/header.html" %}


{% block content %}
{% load staticfiles %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />    
</head>

<body>
        <img src="{% static 'mysite/hello-there.jpg' %}" class="meme"> 
        <p>
            My name is Dillon, and I am a Hacker Warlock who
            graduated from Michigan State University with a B.S. in Computer Science in 2018.
            I enjoy reading high fantasy novels like The Lord of the Rings, and staying
            active by lifting weights and playing sports including soccer and volleyball.

            I am very close with my family; I have two brothers, Nick and Aiden,
            and a sweet little dog named Chloe.
        </p>
        
        <p id="edit">Click me to edit!</p>
        
        <script>
            var pTagToEdit = document.getElementById('edit');
        
            /*
            for (var i = 0; i < pTagsToEdit.length; i++) {
                pTagsToEdit[i].addEventListener('click', updateName);
            }
            */    
        
            pTagToEdit.addEventListener('click', updateName);
        
            function updateName() {
                var text = prompt('Enter your text');
                pTagToEdit.textContent = 'Your text: ' + text;
            }
        </script>
</body>
</html>

{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}
