{% extends "mysite/header.html" %}


{% block content %}
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />  
</head>

<body>
    <div class='intro'>
        <p>Welcome to the Photo Gallery. Please select a category from the dropdown menu
            to begin viewing related photos.
        </p>
		<div class="dropdown">
            <button class="dropbtn">Category</button>
            <div class="dropdown-content">
                <ul class="nav nav-pills nav-stacked">
                        <li><a href='/photo_gallery/sports'>Sports</a></li>
                        <li><a href='/photo_gallery/family'>Family</a></li>
                </ul>
            </div>				
        </div>        
    </div>
</body>

{% endblock %}